{% load static %}


<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="{% url "dashboard:dashboard_page" %}" class="brand-link">
        <img src="{% static 'dist/img/logo.jpg' %}" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
            style="opacity: .8">
        <span class="brand-text font-weight-light">MedCare</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar user panel (optional) -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
                <img src="{% static 'dist/img/defaultuser.jpg' %}" class="img-circle elevation-2" alt="User Image">
            </div>
            <div class="info">
                <a href="#" class="d-block">{{request.user.get_full_name}}</a>
            </div>
        </div>
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu"
                data-accordion="false">
                <li class="nav-item">
                    <a href="{% url "dashboard:dashboard_page" %}" class="nav-link">
                        <i class="nav-icon fas fa-user mr-2"></i>

                        <p>
                            Dashboard
                            <i class="fas fa-angle-right right"></i>
                        </p>
                    </a>
                </li> 
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-user mr-2"></i>

                        <p>
                            Patient
                            <i class="fas fa-angle-left right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="{% url "dashboard:patient_list" %}" class="nav-link">
                                <i class=" fas fa-eye nav-icon"></i>

                                <p>view patient</p>
                            </a>
                        </li>
                    </ul>
                </li> 
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-user mr-2"></i>

                        <p>
                            Doctor
                            <i class="fas fa-angle-left right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="{% url "dashboard:add_doctor" %}" class="nav-link">
                                <i class=" fas fa-plus nav-icon"></i>

                                <p>Add Doctor</p>
                            </a>
                        </li>
                    </ul>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="{% url "dashboard:list_doctor" %}" class="nav-link">
                                <i class=" fas fa-eye nav-icon"></i>

                                <p>view Doctor</p>
                            </a>
                        </li>
                    </ul>
                </li> 
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-user mr-2"></i>

                        <p>
                            Appointment
                            <i class="fas fa-angle-left right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="{% url "dashboard:add_appointment" %}" class="nav-link">
                                <i class=" fas fa-plus nav-icon"></i>

                                <p>Add Appointment</p>
                            </a>
                        </li>
                    </ul>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="{% url "dashboard:appointment_list_admin" %}" class="nav-link">
                                <i class=" fas fa-eye nav-icon"></i>

                                <p>view Appointment</p>
                            </a>
                        </li>
                    </ul>
                </li> 
            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>