{% extends "partials/layout.html" %}   

{% block navbar %}
{% include "partials/navbar.html" %}
{% endblock navbar %}
        
      
{% block sidebar %}
{% include "partials/sidebar.html" %}
{% endblock sidebar %}
            
                
{% block content %}
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum culpa pariatur distinctio, excepturi accusamus voluptatum architecto consequatur sunt consequuntur harum.</p>
{% endblock content %}
           
       
{% block script %}
{% include "partials/script.html" %}
{% endblock script %}
