{% extends "partials/layout.html" %}   

{% block navbar %}
{% include "partials/navbar.html" %}
{% endblock navbar %}
        
      
{% block sidebar %}
{% include "partials/sidebar.html" %}
{% endblock sidebar %}
            
                
{% block content %}
{% if request.user.is_superuser %}
<h1 class="m-2 text-mute">DashBoard</h1>
<div class="row mt-2">
    <div class="col-lg-4 ">
        <!-- small box -->
        <div class="small-box bg-info">
            <div class="inner">
                <h3>{{total_patient}}</h3>
                <p>Total Patient</p>
                <div class="icon"> <i class="fa fa-user" aria-hidden="true"></i> </div>
                
            </div>
        </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-4 ">
        <!-- small box -->
        <div class="small-box bg-info">
            <div class="inner">
                <h3>{{total_doctor}}</h3>
                <p>Total Doctors</p>
                <div class="icon"> <i class="fa fa-user-md" aria-hidden="true"></i></div>
            </div>
        </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-4 ">
        <!-- small box -->
        <div class="small-box bg-info">
            <div class="inner">
                <h3>{{total_appointment}}</h3>
                <p>Appointment Today</p>
                <div class="icon"> <i class="fa fa-calendar" aria-hidden="true"></i> </div>
            </div>
        </div>
    </div>
 </div>
 <div class="row">
    <div class="col-6">
        <div>
            <canvas id="myChart"></canvas>
        </div>
    </div>
    <div class="col-6">
        <div>
            <canvas id="myCharttwo"></canvas>
        </div>
    </div>
 </div>
 
 
 
 
 <div class="col-12">
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Appointment List</h3>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th style="width: 10px">S.N</th>
                        <th>Patient Name</th>
                        <th>Doctor name </th>
                        <th>Doctor specialization</th>
                        <th>Contact</th>
                        <th>Date</th>
                    </tr>
                </thead>
                <tbody>
                    {% for i in appointment  %}
                    <tr>
                        <td>{{forloop.counter}}</td>
                        <td><a href="#">{{i.patient_name}}</a></td>
                        <td><a href="#">{{i.doctor_name }}</a></td>
                        <td>{{i.doctor_specialization}}</td>
                        <td>{{i.phone}}</td>
                        <td>{{i.created_date}}</td>
                    </tr>
                    {% endfor %} 
                </tbody>
            </table>
        </div>
    </div>
 </div>
 {% endif %}
{% endblock content %}
           
   
{% block script %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>     
<script>
  const ctx = document.getElementById('myChart');
   new Chart(ctx, {
    type: 'bar',
    data: {
      labels: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'June', 'July', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'],
      datasets: [{
        label: 'Patients',
        data: [{{pjan}}, {{pfeb}}, {{pmar}}, {{papr}}, {{pmay}}, {{pjune}}, {{pjuly}}, {{paug}}, {{psep}}, {{poct}}, {{pnov}}, {{pdec}}],
        borderWidth: 1
      }]
    },
    options: {
      scales: {
        y: {
          beginAtZero: true
        }
      }
    }
  });
</script>
<script>
   const ctxy = document.getElementById('myCharttwo');
   new Chart(ctxy, {
       type: 'line',
       data: {
           labels: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'June', 'July', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'],
           datasets: [{
               label: 'Appointments',
               data: [{{jan}}, {{feb}}, {{mar}}, {{apr}}, {{may}}, {{june}}, {{july}}, {{aug}}, {{sep}}, {{oct}}, {{nov}}, {{dec}}],
               borderWidth: 1
           }]
       },
       options: {
           scales: {
               y: {
                   beginAtZero: true
               }
           }
       }
   });
</script>


  

{% include "partials/script.html" %} 
{% endblock script %}
